/*
    IVAO XA ATC Timer
    For the IVAO XA Division
    By BadBoyHaloCat (VID: 627628)
*/

/* ----- INIT STUFF ----- */
html {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
}

/* ----- COLORING ----- */
.is-primary {
    background-color: rgb(0, 255, 234) !important;
    color: blue !important;
}
.is-warning {
    background-color: yellow !important;
}
.is-error {
    background-color: red !important;
}

/* ----- SHAPES ----- */
.hero {
    position: absolute;
    top: 0;
    bottom: 1;
    left: 0;
    right: 0;
    height: 100;
    
}
.hero-content {
    font-size: 15px;
    color: black;
    font-family: Arial;
}

/* ----- HEADERS ----- */
.title {
    font-size: 50px !important;
}
.subtitle {
    font-size: 25px !important;
}

/* ----- FORMATTING ----- */
.centered {
    text-align: center !important;
}